* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: #fff;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

p {
  text-align: center;
}