.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
    background-color: #f05454;
    width: 100vw;
    margin-top: 0;
    padding: 1rem;
}

.header img {
    width: 230px;
    margin-bottom: 10px;
}

.header p {
    font-weight: 600;
    color: #fff;
}