header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    margin: 0;
    padding: 0.5rem 2rem 2rem 2rem;
}

header h1{
    color: #2e3057;
}

header img {
    width: 230px;
    margin-bottom: 10px;
}

header p {
    font-weight: 400;
    color: #2e3057;
}

